<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Home page</h1>
        <div>
            Welcome to the home page of the second lab : express ! </br></br>
            If you want to navigate to the page "hello.ejs", just add "/hello" inside the address :)
        </div>
  </body>
</html>